body {
    font-family: Arial, sans-serif;
  }
  h1,
  h2 {
    color: green
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: 15px;
  }
  form {
    margin-bottom: 25px;
  }
  label {
    display: inline-block;
    width: 100px;
  }
  button {
    padding: 5px 10px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: red;
  }